<footer class="lg:container lg:mx-auto">
    <!-- <div id="icons">
        <div class="wrapper github">
            <a href="https://github.com/uta8a">
                <img src="{{.Site.BaseURL}}/assets/github.svg" alt="github-icon">
            </a>
        </div>
        <div class="wrapper twitter">
            <a href="https://twitter.com/kaito_tateyama">
                <img src="{{.Site.BaseURL}}/assets/twitter.svg" alt="twitter-icon" href="">
            </a>
        </div>
    </div> -->
</footer>
<!-- math -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
<script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</body>

</html>