{{ partial "head.html" . }}

<main  class="lg:container lg:mx-auto"> 
    <section>
        <header>
            <h1  class="font-bold text-3xl">All Posts</h1>
        </header>

        <article>
            <ul class="list-none">
                {{ range (where .Pages.ByPublishDate.Reverse "Section" "posts") }}
                    {{ range .Pages }}
                        <li><a class="text-xl hover:text-indigo-400 visited:text-red-600" href="{{ .RelPermalink }}">- {{ .Title }} - <time datetime="{{.Date}}">{{ .Date.Format "2006/01/02 15:04:05" }}</time></a></li>
                    {{ end }}
                {{ end }}
            </ul>
        </article>
    </section>
</main>

{{ partial "foot.html" .}}
<!--{{ partial "head.html" . }}

<main class="lg:container lg:mx-auto">
<section>
    <header>
    <h1>{{.Title}}</h1>
    </header>

    <article>
    {{.Content}}
    </article>

    <footer>
    {{ range first 10 .Pages }}
        {{ .Render "summary"}}
    {{ end }}
    </footer>
</section>

<section>
    {{ range first 1 (where .Pages.ByPublishDate.Reverse "Section" "posts") }}
        <article>
            <header>
            <h2>{{ .Title }}</h2>
            <p><time datetime="{{.Date}}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></p>
            </header>
            {{ .Summary }}
            <nav>
            <ul>
                <li><a href="{{ .RelPermalink }}">Read More &raquo;</a></li>
            </ul>
            </nav>
        </article>
    {{ end }}
    <footer>
    <a href="{{ "posts/" | absURL }}">All posts...</a>
    </footer>
</section>

<section>
    {{ range first 1 (where .Pages.ByPublishDate.Reverse "Section" "diaries") }}
        <article>
            <header>
            <h2>{{ .Title }}</h2>
            <p><time datetime="{{.Date}}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></p>
            </header>
            {{ .Summary }}
            <nav>
            <ul>
                <li><a href="{{ .RelPermalink }}">Read More &raquo;</a></li>
            </ul>
            </nav>
        </article>
    {{ end }}
    <footer>
    <a href="{{ "diaries/" | absURL }}">All diaries...</a>
    </footer>
</section>
</main>

{{ partial "foot.html" .}} -->